body {
  margin: 0;
  cursor: default;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  background: radial-gradient(rgba(255, 125, 49, 0.2) 5%, white) fixed; }
  body a {
    color: #3a3839;
    text-decoration: none; }
    body a:hover {
      color: #ff7d31; }

#container {
  width: 70%;
  min-width: 52em;
  margin: 2em auto; }
  #container section {
    min-height: 10em;
    border-bottom: 1px solid #cecece;
    padding: 1em 0; }
    #container section:last-of-type, #container section .noborder {
      border-bottom: 0; }
    #container section h1 {
      font-size: 1.5em; }
    #container section p {
      text-align: justify; }
    #container section#header {
      padding: 0;
      height: 8em; }
      #container section#header #logo {
        height: inherit;
        width: 25%;
        display: inline-block; }
        #container section#header #logo a {
          height: inherit; }
          #container section#header #logo a img {
            height: inherit; }
      #container section#header #menu {
        width: 75%;
        float: right;
        height: inherit;
        display: inline-block; }
        #container section#header #menu ul {
          display: flex;
          list-style: none;
          padding-left: 0;
          height: inherit;
          margin: 0;
          float: right; }
          #container section#header #menu ul li {
            font-size: 1.5em;
            padding: 2em 0.3em; }
            #container section#header #menu ul li a {
              font-weight: 600; }
    #container section#banner {
      padding: 0; }
      #container section#banner img {
        width: 100%;
        height: auto; }
    #container section#calendar #calendar-wrapper {
      display: flex; }
      #container section#calendar #calendar-wrapper #fb {
        width: 500px;
        margin-left: 100px;
        height: 340px;
        border: 1px solid lightgrey; }
        #container section#calendar #calendar-wrapper #fb .fb_iframe_widget iframe {
          position: relative !important; }
      #container section#calendar #calendar-wrapper #list {
        border: 0;
        width: calc(100% - 500px - 100px - 2px - 2em);
        padding: 1em;
        text-align: center;
        font-size: 1.05em;
        line-height: 1.6em; }
        #container section#calendar #calendar-wrapper #list tr td {
          border-bottom: 1px solid lightgrey; }
        #container section#calendar #calendar-wrapper #list tr:last-of-type td {
          border-bottom: 0; }
        #container section#calendar #calendar-wrapper #list tr td:first-child {
          text-align: left; }
        #container section#calendar #calendar-wrapper #list tr td:last-child {
          text-align: left;
          padding-left: 1em; }
    #container section#team .one {
      margin-bottom: 2em; }
      #container section#team .one .header img {
        width: 10em;
        height: 10em;
        border-radius: 5em; }
      #container section#team .one .header .name {
        display: inline-block;
        vertical-align: 2.5em;
        margin-left: 2em; }
        #container section#team .one .header .name .first {
          font-size: 3em;
          vertical-align: 1.3em; }
        #container section#team .one .header .name .last {
          font-size: 2em;
          vertical-align: 1.3em; }
    #container section#gallery .tile {
      width: calc((100% - 4em) / 3);
      display: inline-block;
      margin: 1em; }
      #container section#gallery .tile:nth-child(1), #container section#gallery .tile:nth-child(2), #container section#gallery .tile:nth-child(3) {
        margin-top: 0; }
      #container section#gallery .tile:nth-child(1n) {
        margin-left: 0; }
      #container section#gallery .tile:nth-child(3n) {
        margin-right: 0; }
      #container section#gallery .tile img {
        width: 100%;
        height: auto; }
      #container section#gallery .tile div {
        width: 100%;
        height: auto;
        visibility: visible;
        text-align: center;
        font-size: 1.1em; }
      #container section#gallery .tile:hover div {
        visibility: visible; }
    #container section#message input {
      width: 100%;
      margin-top: 0.3em;
      margin-bottom: 0.7em; }
      #container section#message input[type="text"] {
        height: 1.5em;
        font-size: 1.3em;
        font-family: "Open Sans", sans-serif; }
      #container section#message input[name="submit"] {
        margin-top: 1em;
        font-size: 1em;
        height: 2.5em;
        width: 9em; }
    #container section#message textarea {
      width: 100%;
      margin-top: 0.5em;
      font-size: 1.2em;
      font-family: "Open Sans", sans-serif;
      height: 5em; }
    #container section#contact .one {
      margin-bottom: 1em; }
      #container section#contact .one .name {
        font-size: 1.2em;
        font-weight: bold; }
      #container section#contact .one .phone {
        font-size: 1em; }
      #container section#contact .one .email {
        font-size: 1em; }
    #container section#copyright {
      text-align: center;
      font-size: 0.8em;
      min-height: 0; }

/*# sourceMappingURL=styles.css.map */
